<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css"/>
  <title>Depeche Mode | Tribute</title>
</head>
<body>
  <h1>About</h1>
  <h2>Biography of Depeche Mode</h2>
  <img width="500" src="/public/img/depeche-mode.png" alt="depeche mode faces"/>
  <div id = "bio">
   <p> Depeche Mode és un grup anglès de New wave, Pop, Rock alternatiu i música electrònica, format l'any 1980 a Basildon, Essex, Anglaterra.</p>

    <p>Als seus inicis, van formar part de l'escena musical futurista originada a Gran Bretanya cap a la fi dels anys 1970 i principi dels 80, 
    fortament influïda per grups com Kraftwerk. Són considerats com un dels grups pioners a portar al públic en general elements electrònics destacables 
    barrejats a la seva música Pop Rock; també destaquen els seus vídeoclips (molts d'ells realitzats per Anton Corbijn) i els seus concerts en directe. 
    Actualment, segueixen sent un grup d'un gran èxit comercial i de públic.</p>

  </div>

  <br><a href="/home">Back to home</a>
  <br><a href="/works">Works</a>
</body>
</html>