<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css"/>
  <title>Depeche Mode | Tribute</title>
</head>
<body>
  <h1>Works</h1>
  <h2>Depeche Mode albums</h2>
  <div id="albums">
    <ul>
        <li>Speak & Spell</li>
        <li>A broken frame</li>
        <li>Consruction time again</li>
        <li>Some great reward</li>
        <li>The singles 81-85</li>
        <li>Black Celebration</li>
        <li>Music for the masses</li>
        <li>101</li>
        <li>Violator</li>
        <li>Songs of faith and devotion</li>
        <li>Ultra</li>
        <li>Exciter</li>
        <li>Playing the Angel</li>
        <li>Sounds of the universe</li>
        <li>Delta Machine</li>
        <li>Spirit</li>
    </ul>
</div>
  <img width="500" src="/public/img/dm.png" alt="depeche mode's log"/>
  <br><a href="/views/about.html">Go to about</a>
  <br><a href="/views/home.html">Return home</a>
</body>
</html>